//
// img-icon
// -----------------------

.img-icon {
  width: 30rpx;
  height: 30rpx;
  //background-size: 30rpx 30rpx;
  &.img-icon-arrow-up-circle-outline {
    background: url('https://product.aiyihang.com/upload/images/appointment_package/red-arrow-up-circle-outline.png') center center no-repeat;
    background-size: 30rpx 30rpx;
  }
  // 箭头-红色-下
  &.img-icon-red-arrowdown {
    background: url('https://product.aiyihang.com/upload/images/common/img-icon/red-arrowdown40.png') center center no-repeat;
    background-size: 30rpx 30rpx;
  }
  // 箭头-黑色-下
  &.img-icon-black-arrowdown {
    background: url('https://product.aiyihang.com/upload/images/common/img-icon/black-arrowdown40.png') center center no-repeat;
    background-size: 30rpx 30rpx;
  }
  &.img-black-arrow-right {
    background: url('https://product.aiyihang.com/upload/images/common/img-icon/black-arrowleft40.png') center center no-repeat;
    background-size: 30rpx 30rpx;
  }
  &.img-location-shadow-gray-outline {
    background: url('https://product.aiyihang.com/upload/images/common/img-icon/location-shadow-gray-outline.png?20200213') center center no-repeat;
    background-size: 30rpx 30rpx;
  }
  &.img-location-black-outline {
    background: url('https://product.aiyihang.com/upload/images/common/img-icon/location-black-outline.png') center center no-repeat;
    background-size: 30rpx 30rpx;
  }
  &.img-target-black-outline {
    background: url('https://product.aiyihang.com/upload/images/common/img-icon/target-black-outline.png') center center no-repeat;
    background-size: 30rpx 30rpx;
  }
}
